@forward "partials/normalize";
@forward "partials/reset";

$color-white: #ffffff;
$color-primary: #212844;
$color-black: #232323;

body {
  min-width: 402px;
  color: $color-black;
  font-family: 'Geologica', sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1224px;
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: 1143px) {
  .container {
    width: 442px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header {
  padding-top: 64px;
  padding-bottom: 64px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.header-placeholder {
  height: 174px;
}

.header-inner {
  display: grid;
  align-items: center;
  grid-template-columns: 200px 1fr 200px;
}

.header-nav {
  display: flex;
  justify-content: center;

  ul {
    display: flex;

    li {
      &:not(:last-child) {
        padding-right: 32px;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          width: 1px;
          height: 10px;
          top: 50%;
          right: 16px;
          transform: translateY(-50%);
          background-color: currentColor;
        }
      }

      > a {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 1;
        text-decoration: none;
        color: $color-black;
      }
    }
  }
}

.header-actions {
  display: flex;
  justify-content: flex-end;
  column-gap: 24px;
}

.header-action {
  display: inline-block;
  color: inherit;
  border: 1px solid currentColor;
  border-radius: 8px;
  padding: 7px;
  img {
    display: block;
  }
}

.lang-switcher {
  display: inline-flex;
  column-gap: 8px;
  padding: 9px 15px;
  cursor: pointer;
  user-select: none;
  align-items: center;
}