@forward "partials/normalize";
@forward "partials/reset";

$color-white: #ffffff;
$color-primary: #212844;
$color-black: #232323;

$font-secondary: 'Artifakt Element', sans-serif;

body {
  min-width: 402px;
  color: $color-black;
  font-family: 'Geologica', sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1224px;
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: 1143px) {
  .container {
    width: 402px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.slider-wrapper {
  overflow: hidden;
}

.btn {
  padding: 8px 34px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  cursor: pointer;
  border-radius: 8px;
  transition: {
    property: background-color, color, border-color, box-shadow;
    duration: .2s;
  };
  display: inline-flex;
  justify-items: center;
  align-items: center;
  text-decoration: none;
  column-gap: 16px;
}

.btn-primary {
  background-color: $color-primary;
  border: 0;
  color: $color-white;
}

.btn-secondary {
  border: 1px solid $color-black;
  background-color: transparent;
  color: $color-black;

  &.btn-secondary--white {
    border-color: #ffffff;
    color: #ffffff;
  }

  img.btn-icon {
    transition: .2s filter;
  }

  &:focus,
  &:active,
  &:hover {
    img.btn-icon {
      filter: invert(1);
    }
  }
}

.btn-secondary:hover {
  color: $color-white;
  background-color: $color-primary;
  border-color: $color-primary;
  box-shadow: 0 0 14px 0 #21284480;
}

.btn-secondary:active {
  color: $color-white;
  background-color: #2A376D;
  border-color: #2A376D;
}

.btn-secondary:focus {
  box-shadow: none;
}

.section-title {
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;

  &--right {
    text-align: right;
  }
}

.header {
  padding-top: 64px;
  padding-bottom: 64px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  &.header--light {
    color: $color-white;
  }
}

.header-placeholder {
  height: 174px;
}

.header-inner {
  display: grid;
  align-items: center;
  grid-template-columns: 200px 1fr;
}

.header-nav {
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    align-items: center;

    li {
      &:not(:last-child) {
        padding-right: 32px;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          width: 1px;
          height: 10px;
          top: 50%;
          right: 16px;
          transform: translateY(-50%);
          background-color: currentColor;
        }
      }

      > a {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 1;
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

.header-logo {
  color: inherit;

  svg {
    display: block;
  }
}

.header-actions {
  display: flex;
  justify-content: flex-end;
  column-gap: 24px;
}

.header-action {
  display: inline-block;
  color: inherit;
  border: 1px solid currentColor;
  border-radius: 8px;
  padding: 7px;

  img {
    display: block;
  }
}

.mobile-menu {
  display: grid;
  grid-template-columns: 1fr 200px;
}

.lang-switcher {
  display: inline-flex;
  column-gap: 8px;
  padding: 9px 15px;
  cursor: pointer;
  user-select: none;
  align-items: center;
}

.mobile-burger {
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;

  span {
    width: 30px;
    height: 1px;
    background-color: #ffffff;
    position: relative;

    &:before,
    &:after {
      content: '';
      width: 30px;
      height: 1px;
      background-color: #ffffff;
      position: absolute;
      left: 0;
    }

    &:before {
      top: -8px;
    }

    &:after {
      top: 8px;
    }
  }
}

@media (max-width: 1143px) {
  .mobile-menu {
    display: none;
  }
  .header-inner {
    display: flex;
    justify-content: space-between;
  }
  .mobile-burger {
    display: flex;
  }
}

.welcome-first {
  position: relative;
}

.welcome-first-black {
  background-color: rgba(0, 0, 0, .4);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.welcome-first-inner {
  position: relative;
  z-index: 1;
}

.welcome-first {
  min-height: 1080px;
  height: 100vh;
  background: {
    image: url("/assets/img/welcome/first-background.jpg");
    position: center top;
    size: cover;
    color: $color-black;
    repeat: no-repeat;
  };

  padding-bottom: 72px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: $color-white;
}

.welcome-first-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  text-transform: uppercase;
  max-width: 640px;
}

.welcome-first-description {
  margin-top: 24px;
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
}

.welcome-first-buttons {
  display: flex;
  column-gap: 20px;
  margin-top: 32px;
}

.welcome-first-steps {
  margin-top: 80px;
}

.welcome-first-steps-slider {
  &:not(.swiper-initialized) {
    .swiper-wrapper {
      display: flex;
      column-gap: 20px;
    }

    .swiper-slide {
      flex: 1;
    }
  }

  .swiper-slide-active .welcome-first-step {
    opacity: 1;
  }
}

.welcome-first-step {
  padding-top: 10px;
  flex: 1;
  opacity: 0.5;
  display: block;
  transition: .3s opacity;
  position: relative;

  &:before {
    content: '';
    background-color: $color-white;
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  &__number {
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
  }

  &__text {
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    margin-top: 24px;
  }

  &:hover {
    opacity: 1;
  }
}

@media (max-width: 1143px) {
  .welcome-first {
    min-height: 1256px;
  }
  .welcome-first-title {
    font-size: 34px;
  }
  .welcome-first-description {
    font-size: 20px;
  }
  .welcome-first-buttons {
    flex-direction: column;
    row-gap: 16px;
    max-width: 250px;
    margin-top: 24px;
  }
  .welcome-first-steps {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
    margin-right: -20px;
    overflow: hidden;
  }
  .welcome-first-steps-slider.swiper {
    overflow: visible;
  }
  .welcome-first-step:before {
    width: 250px;
  }
}

.platform-section {
  margin-top: 80px;
  padding-top: 80px;
  margin-bottom: 80px;
  padding-bottom: 80px;
}

.platform-wrapper {
  display: flex;
  position: relative;
}

.platform-image {
  width: 368px;
  border-radius: 8px;
  object-fit: cover;
}

.platform-text {
  padding-top: 32px;
  padding-left: 20px;
  padding-bottom: 340px;
}

.platform-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  max-width: 412px;
}

.platform-description {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  margin-top: 55px;
  max-width: 600px;
}

.platform-card {
  background-color: $color-primary;
  color: $color-white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  border-radius: 8px;

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    word-break: break-word;
    margin-top: 36px;
  }

  &__description {
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    margin-top: 16px;
  }

  &__arrow {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  &__arrow-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    border: 1px solid $color-white;
    border-radius: 8px;
    transition: .2s background-color;

    img {
      transition: .2s filter;
    }
  }

  &:hover &__arrow-inner {
    background-color: #ffffff;

    img {
      filter: invert(1);
    }
  }
}

.platform-slider {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}

.platform-slides.swiper {
  position: absolute;
  bottom: 0;
  left: 290px;
  width: calc(100% - 290px);
  overflow: visible;
  z-index: 2;

  .swiper-slide {
    height: auto;
    width: 270px;
    transition: {
      duration: .3s;
      property: opacity;
    };

    &.platform-slide-hide {
      opacity: 0;
    }
  }
}

.platform-slides:not(.swiper-initialized) {
  .swiper-wrapper {
    column-gap: 20px;
  }
}

.platform-nav {
  display: inline-flex;
  column-gap: 24px;
  align-items: center;
  padding-left: 56px;
  position: relative;
  z-index: 4;
}

.platform-nav-arrow {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-primary;
  border-radius: 20px;
  border: 0;
  cursor: pointer;
}

.platform-nav-indicator {
  display: flex;
  column-gap: .3em;
  align-items: flex-end;
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  vertical-align: text-bottom;

  &__total {
    font-size: 14px;
    line-height: 1.4;
  }
}

.actual-requests-section {
  margin-top: 80px;
  padding-top: 80px;
  margin-bottom: 80px;
  padding-bottom: 80px;
}

.actual-requests-grid {
  display: grid;
  gap: 20px;
}

.actual-request {
  color: #ffffff;
  text-decoration: none;
  position: relative;
  height: 327px;
  border-radius: 8px;
  overflow: hidden;

  &:hover .actual-request-arrow {
    background-color: transparent;

    img {
      filter: invert(0);
    }
  }
}

.actual-request-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.actual-request-inner {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px
}

.actual-request-top {
  flex: 1;
}

.actual-request-date {
  display: inline-flex;
  border: 1px solid #ffffff;
  border-radius: 15px;
  padding: 6px 8px;
  column-gap: 14px;
  align-items: center;
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.actual-request-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
}

.actual-request-description {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  margin-top: 8px;
  width: 80%;
  max-width: 700px;
}

.actual-request-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.actual-request-arrow {
  position: absolute;
  right: 16px;
  bottom: 16px;
  background-color: #ffffff;
  border-radius: 8px;
  min-width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  transition: .2s background-color;

  img {
    filter: invert(1);
    transition: .2s filter;
  }
}

.actual-requests-button-wrapper {
  margin-top: 48px;
  text-align: right;
}

@media (min-width: 1144px) {
  .actual-requests-grid {
    grid-template-columns: repeat(6, 1fr);


    .actual-request {
      &:nth-child(-n + 2) {
        grid-column: span 3;
      }

      &:nth-child(n + 3):nth-child(-n + 5) {
        grid-column: span 2;
      }

      &:nth-child(n + 6) {
        grid-column: span 6;
      }
    }
  }
}

.welcome-photobank-section {
  margin-top: 80px;
  padding-top: 80px;
  margin-bottom: 80px;
  padding-bottom: 80px;
}

.welcome-photobank-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 260px);
  gap: 20px;

  a {
    display: block;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.welcome-photobank-button-wrapper {
  margin-top: 40px;
  text-align: center;
}

@media (min-width: 1144px) {
  .welcome-photobank-grid a {
    &:nth-child(2) {
      grid-row: span 2;
    }

    &:nth-child(3),
    &:nth-child(9) {
      grid-column: span 2;
    }
  }
}

@media (max-width: 1143px) {
  .welcome-photobank-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 260px);

    a {
      display: block;
      height: 100%;
      border-radius: 8px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:nth-child(2) {
        grid-row: span 2;
      }

      &:nth-child(4),
      &:nth-child(9) {
        grid-column: span 2;
      }
    }
  }
}

.welcome-guides-section {
  margin-bottom: 80px;
  padding-bottom: 80px;
  margin-top: 80px;
  padding-top: 550px;
  display: flex;
  align-items: flex-end;
  background: {
    repeat: no-repeat;
    image: url("/assets/img/welcome/guides.png");
    position: top 80px center;
  };
}

.welcome-guides-tags {
  display: flex;
  column-gap: 16px;
  justify-content: center;

  a {
    display: block;
    border-radius: 16px;
    padding: 6px 16px 4px;
    border: 1px solid $color-black;
    text-decoration: none;
    color: $color-black;
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;

    transition: {
      duration: .2s;
      property: background-color, color;
    };

    &:hover {
      color: $color-white;
      background-color: $color-black;
    }
  }
}

.welcome-guides-title {
  color: $color-primary;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  text-align: center;
  margin-top: 40px;

  span {
    color: $color-black;
    opacity: .5;
  }
}

.welcome-guides-description {
  text-align: center;
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  max-width: 760px;
  margin: 24px auto 0;
}

.welcome-guides-button {
  margin-top: 40px;
  text-align: center;
}

@media (max-width: 1143px) {
  .welcome-guides-section {
    background-image: url("/assets/img/welcome/guides-mobile.png");
    padding-top: 405px;
  }
  .welcome-guides-tags {
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
  }
  .welcome-guides-title {
    line-height: 130%;
  }
}

.welcome-support-section {
  margin-top: 160px;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 160px;
  background-color: $color-primary;
  color: $color-white;
}

.welcome-support-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.welcome-support-text {
  max-width: 660px;
}

.welcome-support-button .btn:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  color: $color-black;
}

.welcome-support-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
}

.welcome-support-description {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  margin-top: 32px;
}

.welcome-support-list {
  display: grid;
  margin-top: 48px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  li > a {
    display: flex;
    color: $color-black;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    background-color: $color-white;
    padding: 13px 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    border-radius: 8px;
    transition: {
      property: color, background-color;
      duration: .2s;
    };

    &:hover,
    &:active {
      background-color: #2A376D;
      color: #ffffff;
    }
  }
}

.welcome-support-image {
  border-radius: 8px;
  width: 100%;
  height: 332px;
  object-fit: cover;
  object-position: top center;
  margin-top: 20px;
}

@media (max-width: 1143px) {
  .welcome-support-list {
    grid-template-columns: 1fr;

    li a {
      font-size: 16px;
    }
  }
  .welcome-support-button {
    display: none;
  }
}

.welcome-stories-section {
  margin-top: 80px;
  padding-top: 80px;
  margin-bottom: 80px;
  padding-bottom: 80px;

  .section-title {
    margin-bottom: 32px;
  }
}

.welcome-stories-tags {
  display: flex;
  flex-wrap: wrap;
  max-width: 870px;
  gap: 16px;

  a {
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    color: $color-black;
    padding: 8px 16px 4px;
    border: 1px solid $color-black;
    border-radius: 20px;
  }
}

.welcome-stories-grid {
  display: grid;
  gap: 20px;
  margin-top: 65px;


}

@media (min-width: 1144px) {
  .welcome-stories-grid {
    grid-template-rows: repeat(36, 10px);
    grid-template-columns: repeat(4, 1fr);

    .welcome-story {
      &:nth-child(1),
      &:nth-child(8),
      &:nth-child(5) {
        grid-row: span 12;
      }

      &:nth-child(2) {
        grid-row: span 20;
        grid-column: span 2;
      }

      &:nth-child(7) {
        grid-column: span 2;
        grid-row: span 16;
      }

      &:nth-child(6),
      &:nth-child(4),
      &:nth-child(9),
      &:nth-child(3) {
        grid-row: span 9;
      }

      &:not(:nth-child(2)):not(:nth-child(7)) {
        .welcome-story__text {
          padding: 8px;
        }

        .welcome-story__link {
          right: 8px;
          bottom: 6px;
        }

        .welcome-story__description {
          display: none;
        }
      }
    }
  }
}

.welcome-story {
  display: flex;
  flex-direction: column;
  position: relative;

  &__img {
    height: 60%;
    border-radius: 8px 8px 0 0;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    padding: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 0 0 8px 8px;
    border: 1px solid #23232333;
    border-top: 0;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    width: 100%;
  }

  &__description {
    flex: 1;
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    margin-top: 16px;
    width: 100%;
  }

  &__link {
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: $color-black;
    text-decoration: none;
    position: absolute;
    right: 16px;
    bottom: 14px;
    padding: 2px 0;

    &:after {
      content: '';
      position: absolute;
      bottom: 2px;
      right: 0;
      width: 100%;
      height: 1px;
      transition: .2s width;
      background-color: currentColor;
    }

    &:hover:after {
      width: 0;
    }
  }
}

.welcome-stories-button {
  margin-top: 40px;
  text-align: center;
}

@media (max-width: 1143px) {
  .welcome-story__description {
    display: none;
  }
  .welcome-story__text {
    min-height: 150px;
  }
}

.welcome-faq-section {
  margin-top: 80px;
  padding-top: 80px;
  margin-bottom: 80px;
  padding-bottom: 80px;

  .section-title {
    max-width: 450px;
  }
}

.welcome-faq-wrapper {
  display: flex;
  justify-content: space-between;
}

.welcome-faq-text {
  max-width: 465px;
}

.welcome-faq-tag {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;

  margin-bottom: 24px;

  border-radius: 16px;
  padding: 7px 16px 4px;
  background-color: $color-primary;
  display: inline-block;
  color: #ffffff;
}

.welcome-faq-description {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.welcome-faq-list {
  width: 100%;
  max-width: 560px;
}

.faq-item {
  padding: 32px 0 0;
  border-top: 1px solid #23232333;
  position: relative;
  cursor: pointer;

  &__question {
    color: #212844;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
  }
  &.active {
    .faq-item-icon__rotate {
      transform: rotate(90deg);
    }
  }
}

.faq-item-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  &__rotate {
    transform-origin: 50% 50%;
    transition: .3s transform;
  }
}

.faq-item-answer {
  font-weight: 200;
  overflow: hidden;
  max-height: 0;
  cursor: text;
  transition: .4s max-height;

  b {
    font-weight: 500;
  }
  i {
    font-style: italic;
  }

  &__inner {
    padding-top: 24px;
  }
}

.welcome-faq-list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

@media (max-width: 1143px) {
  .welcome-faq-wrapper {
    flex-direction: column;
    row-gap: 40px;
  }
  .faq-item {
    padding-top: 24px;

    &__question {
      font-size: 16px;
      max-width: 225px;
    }
  }
  .welcome-faq-list {
    row-gap: 24px;
  }
}